---
import { Button } from "@/components/ui/button";
import { features } from "@/config/landing";
import { Icon } from "astro-icon/components";
import HeaderSection from "./header-section.astro";
---

<section id="features">
  <div class="pb-6 pt-28">
    <div class="container max-w-6xl">
      <HeaderSection 
        label="Soluciones"
        title="Explora nuestro portafolio de soluciones web"
        subtitle="Todo lo que necesitas para tener presencia en Internet."
      />

      <div  class="mt-12 grid gap-3 sm:grid-cols-2 lg:grid-cols-3">
        {
          features.map((feature) => (
            <div class="group relative overflow-hidden rounded-2xl border bg-background p-5 md:p-8">
              <div
                aria-hidden="true"
                class="absolute inset-0 aspect-video -translate-y-1/2 rounded-full border bg-gradient-to-b from-purple-500/80 to-white opacity-25 blur-2xl duration-300 group-hover:-translate-y-1/4 dark:from-white dark:to-white dark:opacity-5 dark:group-hover:opacity-10"
              />
              <div class="relative">
                <h2 class="text-lg font-medium text-foreground">
                  {feature.title}
                </h2>
                <p class="mt-6 pb-6 text-muted-foreground">
                  {feature.description}
                </p>

                <div class="-mb-5 flex gap-3 border-t border-muted py-4 md:-mb-7">
                  <Button
                    variant="secondary"
                    size="sm"
                    rounded="xl"
                    className="px-4"
                  >
                    <a href={feature.link} class="flex items-center gap-2">
                      <span>Saber más</span>
                      <Icon name="lucide:arrow-up-right" class="size-4" />
                    </a>
                  </Button>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
